<div class="messages-container" *ngIf="messages.length > 0">
  <div class="message-group" *ngFor="let group of messageGroups">
    <div class="date-divider">
      <div class="line"></div>
      <span class="date-label">{{ group.date }}</span>
      <div class="line"></div>
    </div>

    <div *ngFor="let message of group.messages" 
         class="message" 
         [class.guest]="isCurrentUser(message.userId)">
      <div class="avatar-container" *ngIf="message.avatar">
        <img [src]="'assets/img/avatars/' + message.avatar" 
             [alt]="message.username + ' avatar'"
             class="user-avatar">
      </div>
      <div class="message-content">
        <div class="message-header">
          <span class="username">{{ message.username }}</span>
          <span class="timestamp">{{ message.timestamp | date:'HH:mm' }} Uhr</span>
        </div>
        <div class="message-text">
          {{ message.text }}
        </div>
      </div>
    </div>
  </div>
</div>