<mat-toolbar class="navbar">
  <div class="navbar-left">
    <span class="app-name"> <img src="assets/img/logo-without-text.png" alt="DABubble" class="logo"> DABubble</span>
  </div>

  <div class="navbar-center">
    <mat-form-field appearance="outline" class="search-field">
      <input matInput placeholder="Devspace durchsuchen" class="search-input" style="color: black !important;">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div class="navbar-right">
    <div class="user-profile">
      <span class="user-name">{{ userName }}</span>
      <mat-icon class="profile-icon">account_circle</mat-icon>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Profil</span>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>