<mat-toolbar class="navbar">
  <div class="navbar-left">
    <span class="app-name"> <img src="assets/img/logo-without-text.png" alt="DABubble" class="logo"> DABubble</span>
  </div>

  <div class="navbar-center">
    <div class="search-container" #searchContainer>
      <mat-form-field appearance="outline" class="search-field">
        <input matInput 
               [formControl]="searchControl"
               placeholder="Devspace durchsuchen" 
               class="search-input"
               (click)="$event.stopPropagation()">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>



      <!-- Suchergebnisse -->
      <div class="search-results" 
           *ngIf="showResults && searchResults.length > 0"
           (click)="$event.stopPropagation()">
        <div class="result-item" *ngFor="let result of searchResults" (click)="selectResult(result)">
          <!-- Channel Result -->
          <div class="result-content" *ngIf="result.type === 'channel'">
            <mat-icon>tag</mat-icon>
            <div class="result-text">
              <span class="title"># {{ result.title }}</span>
              <span class="subtitle">{{ result.subtitle }}</span>
            </div>
          </div>

          <!-- User Result -->
          <div class="result-content" *ngIf="result.type === 'user'">
            <div class="avatar-container" *ngIf="result.avatar">
              <img [src]="'assets/img/avatars/' + result.avatar" [alt]="result.title">
            </div>
            <mat-icon *ngIf="!result.avatar">person</mat-icon>
            <div class="result-text">
              <span class="title">&#64;{{ result.title }}</span>
              <span class="subtitle">{{ result.subtitle }}</span>
            </div>
          </div>

          <!-- Message Result mit Quelle -->
          <div class="result-content" *ngIf="result.type === 'message'">
            <mat-icon>chat</mat-icon>
            <div class="result-text">
              <span class="title">{{ result.title }}</span>
              <span class="subtitle">{{ result.subtitle }}</span>
            </div>
            <span class="source" *ngIf="result.source">{{ result.source }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar-right">
    <div class="user-profile">
      <span class="user-name">{{ userName }}</span>
      <div class="avatar-container" [matMenuTriggerFor]="menu" *ngIf="userAvatar">
        <img [src]="'assets/img/avatars/' + userAvatar" 
             [alt]="userName + ' avatar'"
             class="profile-image">
      </div>
      <button mat-icon-button *ngIf="!isMobile" [matMenuTriggerFor]="menu">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </div>

    <mat-menu #menu="matMenu" class="profile-menu">
      <button class="profile-menu-item" mat-menu-item (click)="openProfileSettings()">
        <mat-icon class="profile-icon">account_circle</mat-icon>
        <span>Profil</span>
      </button>
      <button class="profile-menu-item" mat-menu-item (click)="logout()">
        <mat-icon class="logout-icon">logout</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>
  </div>

</mat-toolbar>



<!-- UserProfileSettings Component -->
<app-user-profile-settings 
  [isOpen]="showProfileSettings"
  (closeInfo)="closeProfileSettings()">
</app-user-profile-settings>