<div class="chat-container">
  <mat-card class="chat-card">
    <mat-card-header class="chat-header">
      <div class="channel-info" (click)="openSettings()">
        <!-- Channel Icon -->
        <mat-icon class="material-symbols-outlined" *ngIf="!isDirectMessage">tag</mat-icon>
        
        <!-- User Avatar oder Default Icon -->
        <div class="avatar-container" *ngIf="isDirectMessage">
          <img *ngIf="selectedUserAvatar" 
               [src]="'assets/img/avatars/' + selectedUserAvatar" 
               [alt]="selectedUserDisplayName + ' avatar'"
               class="user-avatar">
        </div>
        
        <mat-card-title>
          <ng-container *ngIf="!isDirectMessage">
            {{ selectedChannel }}
          </ng-container>
          <ng-container *ngIf="isDirectMessage">
            {{ selectedUserDisplayName }}
          </ng-container>
        </mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-content class="chat-content" #chatContent>
      <!-- Welcome message nur anzeigen, wenn keine Nachrichten vorhanden sind -->
      <ng-container *ngIf="!hasMessages">
        <!-- Channel Message -->
        <div class="welcome-message" *ngIf="selectedChannel && !isDirectMessage">
          <h2 class="channel-title"># {{ selectedChannel }}</h2>
          <p class="channel-description">Du hast diesen Channel heute erstellt. Das ist der Anfang des Channels <span># {{ selectedChannel }}</span></p>
        </div>

        <!-- Direct Message -->
        <div class="welcome-message" *ngIf="selectedUserDisplayName && isDirectMessage">
          <h2 class="channel-title">{{ selectedUserDisplayName }}</h2>
          <p class="channel-description">Diese Unterhaltung findet nur zwischen <span>&#64;{{ selectedUserDisplayName }}</span> und dir statt.</p>
        </div>
      </ng-container>

      <!-- Messages Component -->
      <app-messages></app-messages>
      
    </mat-card-content>

    <mat-card-actions class="chat-input-actions">
      <mat-form-field class="chat-input-field" appearance="outline">
        <button mat-icon-button matPrefix>
          <mat-icon>sentiment_satisfied_alt</mat-icon>
        </button>
        <button mat-icon-button matPrefix>
          <mat-icon>alternate_email</mat-icon>
        </button>
        <textarea 
          matInput 
          cdkTextareaAutosize 
          cdkAutosizeMinRows="5" 
          cdkAutosizeMaxRows="5" 
          [placeholder]="getPlaceholderText()"
          [(ngModel)]="messageText"
          (keyup.enter)="sendMessage()"
        ></textarea>
        <button class="send-button" mat-icon-button matSuffix (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-actions>
  </mat-card>

  <!-- Profile Info Component -->
  <app-profile-info
    [isOpen]="isProfileOpen"
    [username]="selectedUserDisplayName"
    [email]="selectedUserEmail"
    [avatar]="selectedUserAvatar"
    [isOnline]="isSelectedUserOnline"
    (closeInfo)="closeProfile()">
  </app-profile-info>
</div>

<!-- Channel Settings am Ende des Templates -->
<app-channel-settings
  [isOpen]="isSettingsOpen"
  [channelId]="currentChannelId"
  [channelName]="channelName"
  [channelDescription]="channelDescription"
  [createdBy]="createdBy"
  (closeSettings)="onCloseSettings()"
></app-channel-settings>