<div class="chat-container">
  <mat-card class="chat-card">
    <mat-card-header class="chat-header">
      <div class="channel-info" (click)="openSettings()">
        <mat-icon class="material-symbols-outlined">tag</mat-icon>
        <mat-card-title>{{ selectedChannel }}</mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-content class="chat-content">
      <!-- Channel Message -->
      <div class="welcome-message" *ngIf="selectedChannel && !isDirectMessage">
        <h2 class="channel-title"># {{ selectedChannel }}</h2>
        <p class="channel-description">Du hast diesen Channel heute erstellt. Das ist der Anfang des Channels <span># {{ selectedChannel }}</span></p>
      </div>

      <!-- Direct Message -->
      <div class="welcome-message" *ngIf="selectedUser && isDirectMessage">
        <h2 class="channel-title">{{ selectedUser }}</h2>
        <p class="channel-description">Diese Unterhaltung findet nur zwischen <span>&#64;{{ selectedUser }}</span> und dir statt.</p>
      </div>
    </mat-card-content>

    <mat-card-actions class="chat-input-actions">
      <mat-form-field class="chat-input-field" appearance="outline">
        <button mat-icon-button matPrefix>
          <mat-icon>sentiment_satisfied_alt</mat-icon>
        </button>
        <button mat-icon-button matPrefix>
          <mat-icon>alternate_email</mat-icon>
        </button>
        <textarea 
          matInput 
          cdkTextareaAutosize 
          cdkAutosizeMinRows="5" 
          cdkAutosizeMaxRows="5" 
          [placeholder]="getPlaceholderText()"
        ></textarea>
        <button class="send-button" mat-icon-button matSuffix>
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-actions>
  </mat-card>
</div>

<!-- Channel Settings am Ende des Templates -->
<app-channel-settings
  [isOpen]="showSettings"
  [channelName]="selectedChannel"
  [channelDescription]="''"
  (closeSettings)="closeSettings()"
  (saveSettings)="saveSettings($event)">
</app-channel-settings>
