<div class="startseite">
  <div class="logo-container">
    <img src="assets/img/logo-without-text.png" alt="Logo" class="logo" />
    <span class="logo-name">DABubble</span>
  </div>

  <div class="main-container">
    <div class="form">
      <div class="arrow-back">
        <img
          (click)="navigateToLogin()"
          [src]="arrowBackSrc"
          alt="back"
          (mouseover)="arrowBack('hover')"
          (mouseout)="arrowBack('default')"
        />
      </div>
      <div>
        <h2>Passwort zurücksetzen</h2>
        <h4 [ngClass]="{ hidden: isEmailSent }">
          Bitte geben Sie Ihre E-Mail-Adresse ein.
        </h4>
      </div>
      <div class="email-sent-message" *ngIf="isEmailSent">
        <p>
          Wir haben ihnen eine Email gesendet,<br />
          um ihr Passwort zurück zurücksetzen.
        </p>
      </div>

      <div class="inputs-container" [ngClass]="{ hidden: isEmailSent }">
        <div class="email-input">
          <img [src]="userEmailSrc" alt="mail" />
          <input
            type="email"
            id="email"
            name="email"
            required
            email
            placeholder="beispielname@email.com"
            (ngModel)="(userEmail)"
            (focus)="onFocus('userEmail')"
            (blur)="onBlur('userEmail')"
            (input)="onInput('userEmail', $event)"
          />
        </div>
        <div class="error-message">
          <p *ngIf="!isEmailFilled && userEmail">
            *Diese E-Mail-Adresse ist leider ungültig.
          </p>
        </div>
        <div class="rp-information">
          <p>
            Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern
            können.
          </p>
        </div>

        <div class="buttons-container">
          <button
            (click)="navigateToNewPassword()"
            [disabled]="!isFilled"
            [ngClass]="{ 'primary-btn': isFilled, 'disabled-btn': !isFilled }"
          >
            E-Mail senden
          </button>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
