.startseite {
  font-family: "Nunito", sans-serif !important;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  position: relative; 
  overflow: hidden;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 70px;
  height: 70px;
}

.logo-name {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 700;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eceefe;

  .form {
    background-color: white;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 50px;

    .arrow-back {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      position: relative;
      cursor: pointer;
    }

    .arrow-back img {
      position: absolute;
      left: -19px;
      top: 13px;
      max-width: 40px;
      max-height: 40px;
      transition: all 0.2s ease;
    }

    h2 {
      font-family: Nunito;
      font-size: 46px;
      font-weight: 700;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #444df2;
      margin: 0px 0px 25px 0px;
    }

    .current-avatar-container {
      display: flex;
      justify-content: center;
      max-height: 168px;
      max-width: 168px;
      gap: 10px;
      border-radius: 100px;
      opacity: 0px;
      background-color: #797ef3;

      img {
        max-height: 168px;
        max-width: 168px;
        border-radius: 100px;
      }
    }

    .name {
      width: 100%;
    }

    h3 {
      font-family: Nunito;
      font-size: 32px;
      font-weight: 700;
      line-height: 43.65px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin: 0;
      margin-top: 24px;
      margin-bottom: 8px;
    }

    h4 {
      font-family: Nunito;
      font-size: 20px;
      font-weight: 400;
      text-align: start;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #000000;
      margin: 0;
      margin-bottom: 16px;
    }
    .avatar-bar {
      gap: 10px;
      padding: 4px;
      display: flex;
      align-items: center;
    }

    .avatar-bar img {
      height: 64px;
      width: 64px;
      border-radius: 100px;
      border: 4px solid transparent;
      transition: border-color 0.13s ease-in-out;
      cursor: pointer;
    }

    .avatar-bar img:hover {
      border-color: #adb0d9;
    }
  }

  .buttons-container {
    width: 100%;
    margin-top: 32px;
    gap: 10px;
    display: flex;
    justify-content: flex-end;

    .primary-btn,
    .disabled-btn {
      padding: 12px 25px 12px 25px;
      gap: 10px;
      border-radius: 25px;
      opacity: 0px;
      font-family: Nunito;
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;

      &.primary-btn {
        background-color: #444df2;
        color: #ffffff;
        border: none;
      }

      &.disabled-btn {
        background-color: #686868;
        color: #ffffff;
        cursor: no-drop;
        border: none;
      }
    }
  }
}
@media (max-width: 750px) {
  .main-container {
    .form {
      padding: 16px !important;
    }
  }

  .inputs-container {
    padding: 18px 0px 0px 0px !important;
  }
}

@media (max-width: 600px) {
  .main-container {
    .form {
      max-width: 400px;
    }
    .current-avatar-container {
      max-height: 100px !important;
      max-width: 100px !important;
    }
    .current-avatar-container img {
      max-height: 100px !important;
      max-width: 100px !important;
    }
    .avatar-bar {
      flex-wrap: wrap;
      justify-content: center;
    }
    .avatar-bar img {
      max-width: 48px;
      max-height: 48px;
    }
  }
}

@media (max-width: 500px) {
  .main-container {
    h2 {
      font-size: 24px !important;
      margin: 0px 0px 15px 0px !important;
    }
    h3 {
      margin-top: 0px !important;
    }
    h4 {
      font-size: 17px !important;
    }
  }
  .inputs-container {
    .email-input,
    .password-input {
      padding: 8px 8px 8px 8px !important;
    }
    img {
      margin-right: 0px !important;
    }
  }
  .line-container {
    margin: 4px 0 !important;
    font-size: 17px !important;
  }
  .buttons-container {
    .primary-btn,
    .secondary-btn,
    .disabled-btn {
      padding: 8px 8px 8px 8px !important;
    }
  }
  .google-btn {
    height: auto !important;
  }
}

@media (max-width: 460px) {
  .main-container {
    .form {
      max-width: 320px !important;
    }
  }
}

@media (max-width: 370px) {
  .main-container {
    .form {
      max-width: 280px !important;
    }
    .error-message {
      p {
        font-family: Nunito;
        font-size: 12px !important;
      }
    }
  }
  .inputs-container {
    padding: 12px 0px 0px 0px !important;
  }
}
