<div class="startseite">
  <div class="logo-container">
    <img src="assets/img/logo-without-text.png" alt="Logo" class="logo" />
    <span class="logo-name">DABubble</span>
  </div>

  <div class="main-container">
    <div class="form">
      <div class="arrow-back">
        <img
          (click)="navigateToLogin()"
          [src]="arrowBackSrc"
          alt="back"
          (mouseover)="arrowBack('hover')"
          (mouseout)="arrowBack('default')"
        />
      </div>
      <div>
        <h2>Konto erstellen</h2>
        <h4>
          Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
          DABubble-Konto.
        </h4>
      </div>

      <div class="inputs-container">
        <div class="name-input">
          <img [src]="userNameSrc" alt="name" />
          <input
            placeholder="Name und Nachname"
            type="text"
            name="name"
            (ngModel)="(userName)"
            (focus)="onFocus('userName')"
            (blur)="onBlur('userName')"
            (input)="onInput('userName', $event)"
          />
        </div>
        <div class="error-message">
          <p *ngIf="isNameTyped && !isNameFilled">
            *Bitte einen Vor und Nachname
          </p>
        </div>

        <div class="email-input">
          <img [src]="userEmailSrc" alt="mail" />
          <input
            type="email"
            id="email"
            name="email"
            required
            email
            placeholder="beispielname@email.com"
            (ngModel)="(userEmail)"
            (focus)="onFocus('userEmail')"
            (blur)="onBlur('userEmail')"
            (input)="onInput('userEmail', $event)"
          />
        </div>
        <div class="error-message">
          <p *ngIf="isEmailTyped && !isEmailFilled">
            *Diese E-Mail-Adresse ist leider ungültig.
          </p>
        </div>

        <div class="password-input">
          <img [src]="userPasswordSrc" alt="lock" />
          <input
            [type]="isPasswordVisible ? 'text' : 'password'"
            id="password"
            name="password"
            required
            minlength="6"
            placeholder="Passwort"
            (ngModel)="(userPassword)"
            (focus)="onFocus('userPassword')"
            (blur)="onBlur('userPassword')"
            (input)="onInput('userPassword', $event)"
          />
          <img
            *ngIf="userPassword.length > 0"
            (click)="togglePasswordVisibility()"
            [src]="
              isPasswordVisible
                ? 'assets/img/eye-open.png'
                : 'assets/img/eye-closed.png'
            "
            alt="Passwort anzeigen/verstecken"
          />
        </div>

        <div class="error-message">
          <p>
            {{ isPasswordErrorText }}
          </p>
          <div class="error-bar" [ngClass]="passwordStrengthClass">
            {{ passwordStrengthClassText }}
          </div>
        </div>

        <div class="legal-notice">
          <img
            (mouseover)="checkboxHover(true)"
            (mouseout)="checkboxHover(false)"
            (click)="checkboxClick()"
            [src]="checkboxSrc"
            alt="Checkbox"
          />
          <p>
            Ich stimme der
            <span (click)="navigateToPrivacyPolicy()">
              Datenschutzerklärung</span
            >
            zu.
          </p>
        </div>

        <div class="buttons-container">
          <button
            (click)="createUser()"
            [disabled]="!isFilled"
            [ngClass]="{ 'primary-btn': isFilled, 'disabled-btn': !isFilled }"
          >
            Weiter
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
