.startseite {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  position: relative; 
  overflow: hidden;
  font-family: "Nunito", sans-serif !important;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 70px;
  height: 70px;
}

.logo-name {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 700;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eceefe;
  max-height: 500px;
  overflow-y: auto;

  .form {
    background-color: white;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 50px;

    .arrow-back {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      position: relative;
      cursor: pointer;
    }

    .arrow-back img {
      position: absolute;
      left: -19px;
      top: 13px;
      max-width: 40px;
      max-height: 40px;
      transition: all 0.2s ease;
    }
  }

  h2 {
    font-family: Nunito;
    font-size: 46px;
    font-weight: 700;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #444df2;
    margin: 0px 0px 25px 0px;
  }

  h4 {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
    margin: 0;
  }

  .marker{
    margin-right:-10px;
    margin-top:-10px;
  }

  .inputs-container {
    display: flex;
    flex-direction: column;
    padding: 18px 32px 18px 32px;
    width: 100%;
    gap: 10px;
    border-radius: 100px 0px 0px 0px;
    opacity: 0px;

    .name-input,
    .email-input,
    .password-input {
      display: flex;
      align-items: center;
      padding: 18px 32px 18px 32px;
      gap: 10px;
      border-radius: 100px;
      opacity: 0px;
      background-color: #eceefe;
      border: 1px solid transparent;
      cursor: pointer;
      &:hover {
        border: 1px solid #686868;
      }

      &:focus-within {
        border: 1px solid #535af1;
      }

      input {
        flex: 1;
        border: none;
        outline: none;
        background-color: #eceefe;
        font-family: Nunito;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
      }

      img {
        margin-right: 10px;
        max-width: 24px;
        max-height: 24px;
      }
    }

    .error-message {
      height: 20px;
      color: white;
      display: flex;
      p {
        font-family: Nunito;
        font-size: 14px;
        font-weight: 400;
        text-decoration-skip-ink: none;
        color: #ed1e79;
      }
    }
  }
  .error-bar {
    padding: 0px 5px 0px 5px;
    height: 20px;
    border-radius: 50px;
    margin-left:4px;

  }
  .weak {
    background-color: red;
    color: black !important;
  }

  .medium {
    background-color: orange;
    color: black !important;
  }

  .strong {
    background-color: green;
    color: black !important;
  }

  .link-text {
    font-family: Figtree;
    font-size: 18px;
    font-weight: 400;
    border-radius: 30px;
    text-decoration-skip-ink: none;
    top: 200px;
    left: 166px;
    padding: 5px 15px 5px 15px;
    gap: 10px;
    opacity: 0px;
    background-color: transparent;
    color: #797ef3;

    &:hover {
      background-color: #eceefe;
      color: #444df2;
      font-family: Figtree;
      font-size: 18px;
      font-weight: 500;
    }
  }

  .line-container {
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 14px;
    margin: 20px 0;
    gap: 10px;
    border-radius: 30px 0px 0px 0px;
    opacity: 0px;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    .gray-line {
      width: 200px;
      height: 1px;
      border-bottom: 1px solid #adb0d9;
    }

    &:before,
    &:after {
      content: "";
      flex: 1;
      height: 1px;
      background-color: #ccc;
    }
  }

  .google-btn {
    width: 500px;
    border-radius: 100px;
    height: 60px;
    background-color: #eceefe;
    margin-bottom: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    color: #444df2;
    font-size: 18px;
    font-weight: 400;

    img {
      margin-right: 20px;
      max-width: 38px;
      max-height: 38px;
    }

    &:hover {
      border: 1px solid #535af1;
      font-weight: 600;
      color: #444df2;
    }
  }

  .legal-notice {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 8px;
    padding-top: 8px;
    a {
      text-decoration: none;
    }
    img {
      cursor: pointer;
      height: 24px;
      width: 24px;
    }
    p {
      font-size: 16px;
      margin: 0;
    }
    span {
      cursor: pointer;
      font-size: 18px;
      color: #797ef3;
      &:hover {
        background-color: #eceefe;
        border-radius: 30px;
      }
    }
  }

  .buttons-container {
    width: 100%;
    margin-top: 15px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .primary-btn,
    .disabled-btn {
      padding: 12px 25px 12px 25px;
      gap: 10px;
      border-radius: 25px;
      opacity: 0px;
      font-family: Nunito;
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;

      &.primary-btn {
        background-color: #444df2;
        color: #ffffff;
        border: none;
      }

      &.disabled-btn {
        background-color: #686868;
        color: #ffffff;
        cursor: no-drop;
        border: none;
      }

      &.secondary-btn {
        background-color: #ffffff;
        color: #444df2;
        border: 1px solid #797ef3;

        &:hover {
          background-color: #444df2;
          color: #ffffff;
        }
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
@media (max-width: 750px) {
  .main-container {
    .form {
      padding: 16px !important;
    }
  }

  .inputs-container {
    padding: 18px 0px 0px 0px !important;
  }
}

@media (max-width: 600px) {
  .main-container {
    .form {
      max-width: 400px;
    }
  }
}

@media (max-width: 500px) {
  .main-container {
    h2 {
      font-size: 32px !important;
      margin: 0px 0px 15px 0px !important;
    }
    h4 {
      font-size: 17px !important;
    }
  }
  .inputs-container {
    .name-input,
    .email-input,
    .password-input {
      padding: 8px 8px 8px 8px !important;
    }
    img {
      margin-right: 0px !important;
    }
  }
  .line-container {
    margin: 4px 0 !important;
    font-size: 17px !important;
  }
  .buttons-container {
    .primary-btn,
    .secondary-btn,
    .disabled-btn {
      padding: 8px 8px 8px 8px !important;
    }
  }
  .google-btn {
    height: auto !important;
  }
}

@media (max-width: 460px) {
  .main-container {
    .form {
      max-width: 320px !important;
    }
  }
}

@media (max-width: 370px) {
  .main-container {
    .form {
      max-width: 280px !important;
      padding: 8px !important;
    }
    .inputs-container {
      .password-input input {
        width: 180px;
      }}

    .error-message {
      p {
        font-family: Nunito;
        font-size: 12px !important;
      }
    }
  }
  .inputs-container {
    padding: 12px 0px 0px 0px !important;
  }
}

@media (max-width: 370px) {
  .main-container {
    .form {
      position: relative;
      padding-top: 60px !important;
      
      .arrow-back {
        width: auto;
        position: absolute;
        top: 10px;
        left: 10px;
        
        img {
          position: static;
          left: auto;
          top: auto;
          margin: 0;
        }
      }
      
      h2 {
        margin-top: 15px !important;
        font-size: 28px !important;
      }
      
      h4 {
        font-size: 16px !important;
      }
    }
  }
}

.password-strength-text {
  font-size: 12px;
  color: red;
}

.password-requirements {
  margin-top: 5px;
  font-size: 14px;
  color: #444;
}

.password-hint {
  margin-bottom: 5px;
}

.password-requirements ul {
  margin: 0;
  padding-left: 20px;
}

.password-requirements li {
  margin-bottom: 3px;
  color: #ff4444;
}

.password-requirements li.fulfilled {
  color: #44aa44;
}
