<div class="dialog-container">
  <div class="dialog-header">
    <h2>Channel erstellen</h2>
    <button (click)="onClose()" mat-icon-button>
      <mat-icon class="material-symbols-outlined">close</mat-icon>
    </button>
  </div>

  <p class="dialog-description">
    Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum Beispiel.
  </p>

  <div class="form-field">
    <label>Channel-Name</label>
    <input matInput [(ngModel)]="channelName" placeholder="z.B. marketing">
    <!-- Fehlermeldung für Kanalnamen -->
    <div *ngIf="errorMessage" class="error-message">
      <mat-icon class="warning-icon">warning</mat-icon> {{ errorMessage }}
    </div>
  </div>

  <div class="form-field">
    <label>Beschreibung (optional)</label>
    <input matInput [(ngModel)]="description" placeholder="Worum geht es in diesem Channel?">
  </div>

  <div class="dialog-actions">
    <button mat-flat-button color="primary" (click)="onCreate()">Weiter</button>
  </div>
</div>
