.dialog-container {
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #fff;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  h2 {
    margin: 0;
    font-size: 20px;
  }

  .close-icon {
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}

.dialog-description {
  color: #686868;
  margin-bottom: 24px;
  line-height: 1.5;
}

.form-field {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
  }

  input {
    width: -webkit-fill-available;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-size: 14px;
    outline: none;

    &:focus {
      border-color: #1a73e8;
    }
  }
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;

  button {
    border-radius: 20px;
    padding: 0 24px;
  }
}

// Stile für Fehlermeldungen
.error-message {
  color: #f44336;
  font-size: 16px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.warning-icon {
  color: #f44336;
  font-size: 24px;
  margin-left: 4px;
  height: 24px;
  width: 24px;
  line-height: 24px;
}

// Stile für die Snackbar-Benachrichtigungen
::ng-deep .error-snackbar {
  background-color: #f44336;
  color: white;
}