<div
  class="toggle-sidenav"
  (click)="drawer.toggle()"
  [class.closed]="!drawer.opened"
>
  <img
    src="assets/img/open-sidenav.png"
    alt="Toggle Sidenav"
    class="open-default"
  />
  <img
    src="assets/img/open-sidenav-hover.png"
    alt="Toggle Sidenav"
    class="open-hover"
  />
  <img
    src="assets/img/close-sidenav.png"
    alt="Toggle Sidenav"
    class="close-default"
  />
  <img
    src="assets/img/close-sidenav-hover.png"
    alt="Toggle Sidenav"
    class="close-hover"
  />
</div>
<app-navbar></app-navbar>

<mat-drawer-container class="sidenav-container">
  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <div class="sidenav-header">
      <div class="sidenav-header-icons">
        <img src="assets/img/devspace-logo.png" alt="Devspace Logo" />
        <h1>Devspace</h1>
        <div
          class="edit-icon"
          (click)="toggleActive()"
          [class.active]="isActive"
        >
          <img src="assets/img/edit.png" alt="Edit" class="edit-default" />
          <img src="assets/img/edit-hover.png" alt="Edit" class="edit-hover" />
          <img
            src="assets/img/edit-active.png"
            alt="Edit"
            class="edit-active"
          />
        </div>
      </div>

      <div class="sidenav-body">
        <mat-accordion>
          <mat-expansion-panel expanded="true" togglePosition="before">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>workspaces</mat-icon>
                Channel 1
              </mat-panel-title>
              <button
                (click)="$event.stopPropagation(); openAddChannelDialog()"
                mat-icon-button
              >
                <mat-icon>add</mat-icon>
              </button>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a
                class="hover-btn"
                mat-list-item
                *ngFor="
                  let channel of [
                    'channel 1',
                    'channel 2',
                    'channel 3',
                    'channel 4'
                  ]
                "
              >
                <mat-icon matListItemIcon>tag</mat-icon>
                <p>{{ channel }}</p>
              </a>
            </mat-nav-list>
            <button (click)="openAddChannelDialog()" mat-button color="primary">
              <mat-icon>add_circle</mat-icon>
              Channel hinzufügen
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="direct-messages">
        <mat-accordion>
          <mat-expansion-panel expanded="true" togglePosition="before">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>chat</mat-icon>
                Direct Messages
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a
                class="hover-btn"
                mat-list-item
                *ngFor="let user of ['John Doe', 'Petra Doe', 'Julian Doe']"
              >
                <mat-icon matListItemIcon>person</mat-icon>
                <p>{{ user }}</p>
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content class="main-content">
    <app-chat></app-chat>
  </mat-drawer-content>
</mat-drawer-container>
