<div class="sidenav">
    <div class="sidenav-header">
        <div class="sidenav-header-icons">
            <img src="./../../assets/img/devspace-logo.png" alt="Devspace Logo">
            <h1>Devspace</h1>
            <img src="./../../assets/img/edit.png" alt="Edit">
        </div>
        <div class="sidenav-body">
            <div class="channel-list">
                <h2>Channel 1</h2>
                <div class="channel-list-item">
                    <p>Channel 1</p>
                    <p>Channel 2</p>
                    <p>Channel 3</p>
                    <p>Channel 4</p>
                    <button>Channel hinzufügen</button>
                </div>
            </div>
        </div>

        <div class="direct-messages">
            <h2>Direct Messages</h2>
            <div class="direct-messages-list">
                <div class="direct-messages-list-item">
                    <p>John Doe</p>
                    <p>Petra Doe</p>
                    <p>Julian Doe</p>
                    <p>John Doe</p>
                    <p>Petra Doe</p>
                    <p>Julian Doe</p>
                </div>
            </div>
        </div>
    </div>
</div>