.sidenav-container {
  height: calc(100vh - 80px);
  position: relative;
  overflow: hidden;
  background-color: #ECEEFE;
}

.bold {
  font-weight: 600;
}

.new-chat-button {
  color: #000;

  &:hover {
    transform: scale(1.1);
  }

  &:focus {
    background-color: transparent !important;
  }
  
  &:active {
    background-color: transparent !important;
  }

  mat-icon {
    &:focus {
      background-color: transparent !important;
    }
  }
}

.new-channel-btn {
  color: #000!important;
  font-weight: 400!important;

  mat-icon {
    font-weight: 600!important;
  }

  &:hover {
    color: #535AF1!important;
  }

  p {
    font-weight: 300;
  }
}

.italic-hasah {
  font-style: italic;
  font-weight: 600;
}

.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

.sidenav {
  background-color: #fff;
  color: #000;
  width: 366px;
  border-radius: 30px;
  margin: 24px auto;
  z-index: auto!important;
  

  ::ng-deep {
    .mat-drawer-inner-container {
      overflow: unset;
    }

    .mat-expansion-panel {
      background: transparent;
      color: white;
    }

    .mat-expansion-panel-header {
      padding: 0 16px;
    }

    .mat-expansion-indicator::after {
      color: white;
    }

    .mat-list-item {
      color: white;
    }

    .mat-expansion-panel-body {
      padding: 0 65px 16px;
    }
  }
}

.sidenav-header {
  display: flex;
  flex-direction: column;
  padding: 32px 30px;

  .sidenav-header-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;

    h1 {
      margin: 0;
    }
  }
}

.direct-messages {
  margin-top: 32px;

  h2 {
    padding: 0 16px;
    margin-bottom: 16px;
  }
}

mat-nav-list {
  padding-top: 0;
}
  
.mat-expansion-panel-header-title{
    gap: 16px;
}

.edit-icon {
  position: relative;
  cursor: pointer;
  display: flex;
}

.toggle-sidenav {
  position: fixed;
  cursor: pointer;
  width: 32px;
  height: 32px;
  z-index: 1000;

  img {
    position: absolute;
    top: 400px;
    left: 0;
    transition: opacity 0.125s ease;
  }

  .open-default {
    opacity: 1;
  }

  .open-hover,
  .close-default,
  .close-hover {
    opacity: 0;
  }

  &:hover {
    .open-default {
      opacity: 0;
    }
    .open-hover {
      opacity: 1;
    }
  }

  &.closed {
    .open-default,
    .open-hover {
      opacity: 0;
    }
    .close-default {
      opacity: 1;
    }

    &:hover {
      .close-default {
        opacity: 0;
      }
      .close-hover {
        opacity: 1;
      }
    }
  }
}

::ng-deep .mat-drawer-content {
  overflow: unset;
}

::ng-deep mat-drawer-container {
  .mat-drawer-content {
    overflow: unset;
    background-color: #ECEEFE;
  }
}

.main-content.mat-drawer-content {
  overflow: unset;
}

.add-icon {
  color: #000;
}

.add-channel-button {
  width: 100%;
  padding-left: 16px !important;
  text-align: left;
  height: 48px;

  .button-content {
    display: flex;
    align-items: center;
    gap: 16px;

    mat-icon {
      margin: 0;
    }

    span {
      margin: 0;
    }
  }
}

.hover-btn {

  &:hover  {
    background-color: #ECEEFE;


    color: #535AF1;

    p {
      color: #535AF1;
    }
  }

  &.active {
    background-color: #eceefe;

     p, mat-icon {
      color: #535af1;
      font-weight: 500;
    }
  }
}

.user-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.title-hover {

  
  &:hover {


    color: #535AF1;
  }
}

.box-shadow {
  box-shadow: none!important;
}

::ng-deep .mat-expansion-panel-body {
  padding: 8px !important;
}

::ng-deep .mdc-list {
  padding: 8px 16px !important;
}

::ng-deep .mat-mdc-button {
  padding: 8px 24px !important;
  margin-left: 16px;
}

::ng-deep .mat-expansion-panel-header:hover {
  background-color: transparent !important;
}

::ng-deep .mat-expansion-panel-header {
  &.mat-expanded {
    background-color: transparent !important;
  }
}

.title-hover:hover {
  background-color: transparent !important;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24,
  'color' #000
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.channel-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
